.headingDiv{
  width: 100%;
  text-align: center;
}

.sectionsContainer{
  display: flex;
}

.generalInformation{
  width: 30%;
  margin: 0.75%;
  padding: 0.75%;
  border-style: solid;
  border-color: rgb(150, 150, 150);
  border-width: 2px;
  border-radius: 8px;
  text-align: center;
}

.powerMeterContainer{
  display: flex;
  text-align: center;
}

* .powerMeterContainer{
  text-align: center;
  display: inline-block;
  width: min-content;
  margin: 4px 24px;
}

.results{
  width: 30%;
  margin: 0.75%;
  padding: 0.75%;
  border-style: solid;
  border-color: rgb(150, 150, 150);
  border-width: 2px;
  border-radius: 8px;
  text-align: center;
}

.energyMeterContainer{
  display: flex;
  text-align: center;
}

*.energyMeterContainer{
  text-align: center;
  display: inline-block;
  width: min-content;
  margin: 4px 24px;
}

.energyDistributionContainer{
  display: flex;
  text-align: center;
}

*.energyDistributionContainer{
  text-align: center;
  display: inline-block;
  width: min-content;
  margin: 4px 24px;
}

.impact{
  width: 30%;
  margin: 0.75%;
  padding: 0.75%;
  border-style: solid;
  border-color: rgb(150, 150, 150);
  border-width: 2px;
  border-radius: 8px;
  text-align: center;
}

.impactMeterContainer{
  text-align: center;
  display: inline-block;
  width: min-content;
  margin: 4px 24px;
}