:root{
    --background-color: #090909;
    --background-color-highlight-elements: #1f1f1f;
    --background-color-highlight-elements-activated: #2f2f2f;

    --font-color-important: #ffffff;
    --font-color-mid-priority: #f0f0f0;
    --font-color-low-priority: #e6e6e6;

    --heading-font-size: 42px;
    --main-content-element-font-size: 36px;
    --sub-heading-font-size: 32px;
    --descriptions-font-size: 20px;
    --mid-importance-font-size: 16px;
    --unimportant-font-size: 12px;
}