:root{
    --height: 150px;
    --batteryPoleHeight: 50px;
}

.batteryMonitorWrapper{
    width: 100%;
    display: flex;
    height: var(--height);
}

.batteryBodyOutline{
    width: 95%;
    height: 100%;
    border: solid;
    border-color: #ffffff;
}

.batteryInfill{
    height: 100%;
    background: green;
}

.batteryFillText{
    margin: 0;
    line-height: var(--height);
    font-size: 64px;
    text-align: center;
}

.batteryPoleOutline{
    width: 5%;
    height: var(--batteryPoleHeight);
    margin-top: calc((var(--height) - var(--batteryPoleHeight)) / 2);
    border: solid;
    border-color: #ffffff;
    border-width: 3px 3px 3px 0px;
}