.powerMeterContainer{
    width: fit-content;
    display: inline-block;
}

.powerMeterContainer label{
    color: var(--font-color-mid-priority);
    font-size: var(--descriptions-font-size);
}

.PowerMeter {
    font-size: var(--main-content-element-font-size);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: var(--font-color-important);
}